body{
    background-color: rgb(207, 201, 201);
}
.bp {
    background-color: rgb(207, 201, 201);
}
h1 {
    text-align: center;
    padding: 30px;
    width: 600px;
    margin: 0 auto;
}
.p {
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    height: 600px;
    background-color: rgb(207, 201, 201);
}
.c1 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 350px;
    height: 80%;
    background-color: white;
    margin-top: 20px;
    margin: 10px;
  }
.c2 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 350px;
    height: 80%;
    background-color: white;
    margin: 10px;
}
.c3 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 350px;
    height: 80%;
    background-color: white;
    margin: 10px;
}
.img1 {
    width: 100%;
    cursor: pointer;
}
.img2 {
    width: 100%;
    cursor: pointer;
}
.img3 {
    width: 100%;
    cursor: pointer;
}
.letter1 > div {
    margin-top: 10px;
    vertical-align: top;
}
.c1-1 {
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px;
}
.c1-2 {
    font-size: 1.2em;
    color: red;
    font-weight: 700;
}
.c1-3 {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline red;
    cursor: pointer;
}
.c2-1 {
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px;
}
.c2-2 {
    font-size: 1.2em;
    color: red;
    font-weight: 700;
}
.c2-3 {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline red;
    cursor: pointer;
}
.c3-1 {
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px;
}
.c3-2 {
    font-size: 1.2em;
    color: red;
    font-weight: 700;
}
.c3-3 {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline red;
    cursor: pointer;
}
.abc {
    margin: 30px;
}
.line {
    text-decoration: underline black;
    font-weight: 600;
    cursor: pointer;
}