.parent {
    border:1px solid red;
    width: 1200px;
    height: 800px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.child1 {
    border: 1px solid red;
    display: inline-block;
    width: 40%;
    height: 90%;
    min-width: 200px;
}
.child2 {
    border: 1px solid red;
    display: inline-block;
    width: 40%;
    height: 90%;
    vertical-align: top;
    min-width: 200px;
}
.img1 {
    height: 65%;
    width: 80%;
}
h1 {
    font-size: 2.6em;
    line-height: 40px;
    text-align: left;
    width: 70%;
    padding-left: 50px;
}
p {
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    padding-left: 50px;
}
