.wrap {
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    height: 800px;
    box-sizing: border-box;
    min-width: 200px;
}
.a1 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 40%;
    height: 90%;
    text-align: left;
    padding: 20px;
    min-width: 500px;
}
.a2 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 50%;
    height: 90%;
    text-align: left;
    vertical-align: top;
    padding: 20px;
    min-width: 610px;
    
}
.pic1 {
    width: 100%;
    
}
.pic2 {
    width: 100%;
    
}
.l3 {
    padding: 20px 40px;
    word-wrap: break-word;
}
.l1 {
    margin-bottom: 20px;
    padding-top: 0;
}
h1 {
    margin-bottom: 0;
    font-family: 'Abril Fatface', cursive;
}
.l2 {
    margin-top: 20px;
    font-size: 15px;
    font-style: italic;
}