.wrap {
    /* border: 1px solid red; */
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
.abs {
    position: relative;
}
.z1 {   
    background-color: plum;
    width: 800px;
    height: 800px;
    right: -400px;
   

}
img {
    width: 100%;
    height: 100%;
}
.z2 {
    width: 650px;
    height: 650px;
    left: 50px;
    top: -700px;
   

}
.z3 {
    background-color: white;
    width: 500px;
    height: 550px;
    top: -1300px;
    right: -500px;
    z-index: 99;
    line-height: 90px;
    color: purple;
    text-align: right;
    padding-right: 30px;

}
.letter1 {
    font-size: 20px;
}
.letter2 {
    font-size: 3em;
}
.link {
    color: purple;
}