body {
    background-color: #e5caba;
    
}
.wrap {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.parent1 {
    /* border: 1px solid red; */
    width: 600px;
    height: 200px;
    margin: 0 auto;
    transform: translateY(40px);
    font-size: 0;
    
}
.child1-1 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 60px 0;
    padding-right: 30px;
    font-size: 20px;
}
.child1-2 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    background-image: url('https://assets.nicepagecdn.com/d2cc3eaa/169555/images/side-view-people-getting-massage_23-2151178225.jpg');
    background-size: cover;
    position: relative;
    z-index: -99;
}
.parent2 {
    /* border: 1px solid red; */
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
.child2-1 {
    width: 70%;
    height: 100%;
    background-image: url('https://assets.nicepagecdn.com/d2cc3eaa/169555/images/smiling-woman-bathrobe-her-husba.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}
.parent3 {
    /* border: 1px solid red; */
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
.child3-1 {
    /* border: 1px solid red; */
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transform: translate(80px, -30px);
    position: relative;
    z-index: 2;
    display: inline-block;
}
.child3-2 {
    /* border: 1px solid red; */
    background-color: white;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    line-height: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    z-index: 3;
    transform: translateY(-100px);
}
.right {
    float:right;
}
.let {
    font-size: 16px;
}
.link {
    font-size: 16px;
    text-decoration: underline;
    color:black
}
input {
    width: 100px;
    height: 40px;
    font-size: 10px;
}